<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="miage.parisnanterre.fr.mynanterre">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/logomynanterre"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDM6SztNHKpGR6ZHVQ7PC3yL2925gwBPHw"/>
        <activity android:name=".implem.Accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".implem.ListeSport"></activity>
        <activity android:name=".implem.Plannification"></activity>
        <activity android:name=".implem.Seance"></activity>
        <activity android:name=".implem.TrainLigneL"></activity>
        <activity android:name=".implem.TrainPlanLigneL"></activity>
        <activity android:name=".implem.GareFavoriteLigneL"></activity>
        <activity android:name=".implem.GareFavoriteRerA"></activity>
        <activity android:name=".implem.TrainRerA"></activity>
        <activity android:name=".implem.TrainPlanRerA"></activity>
        <activity android:name=".implem.ListeCrous"></activity>
        <activity android:name=".implem.ListeProduit"></activity>
        <activity android:name=".implem.Cgu"></activity>
        <activity android:name=".implem.PlanBatiments"></activity>
        <activity android:name=".implem.ListeTrain"></activity>
        <activity android:name=".implem.GoogleMaps"></activity>
        <activity android:name=".implem.FrequentationBatiment"></activity>

        <activity android:name=".implem.MenuCrous"></activity>
        <activity android:name=".implem.LiveTweet"></activity>
        <activity android:name=".implem.CarteCrous"></activity>
        <activity android:name=".implem.LocalisationCrousMain"></activity>

        <receiver android:name=".implem.NotificationReceiver" />
    </application>

    <uses-permission android:name="android.permission." />

    <!-- on crée une permission pour notre application -->
    <permission android:name="com.abyster.tuto.mapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <!-- on ajoute notre permission à la liste de permissions requises par l'API -->
    <uses-permission android:name="com.abyster.tuto.mapv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <!-- la librairie Maps V2 nécessite openGL pour son bon fonctionnement -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>


</manifest>